body {
    background: repeating-linear-gradient(
        45deg,
        #333,
        #333 50px,
        #51eb4b 50px,
        #51eb4b 100px
    );
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-wrapper {
    background-color: #333;
    border-radius: 10px;
    border: 10px solid #51eb4b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#calculator {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

input {
    background-color: #444;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    grid-column: span 5;
    margin-bottom: 10px;
    padding: 15px;
    width: calc(100% - 10px);
}

button {
    background-color: #555;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #51eb4b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: scale(1.1);
}

#result {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border: 4px red;
}
/* Small Screen */
@media only screen and (max-width: 600px) {
    #calculator {
        grid-template-columns: repeat(3, 1fr);
    }
    button {
        font-size: 18px;
        padding: 10px;
    }
}